<h3><%= @sentence %></h3>
<p>- You<p>
------------------------------------------
<h3><%= @answer %></h3>
<p>- Your coach</p>

<button class="btn btn-dark text-light" type="submit"><%= link_to "Ask for a new question", ask_path() %></button>
